* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(0deg, #DBDBD2 85%, #009688 15%);
    height: 100vh;
}

.container {
    margin: auto;
    width: 80%;
    height: 90%;
}

.flex {
    display: flex;
}

input {
    border: none;
    color: gray;
}

.left-side {
    width: 30%;
    border-right: 1px solid #D6D6D6;
}

.right-side {
    width: 70%;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #EAEAEA;
}

/* Left */


/* Banner */
.banner {
    background-color: #8EDAFC;
    height: 80px;
    align-items: center;
    padding: 0 10px;
}

.bell {
    background-color: white;
    border-radius: 50%;
}

.fa-bell-slash {
    color: #8EDAFC;
    font-size: 20px;
    padding: 15px 14px;
}

.banner-text {
    margin-left: 10px;
}

.banner a {
    color: grey;
}

/* Search */
.search {
    background-color: #FAFAFA;
    height: 50px;
}

.search-input {
    margin: auto;
    background-color: white;
    width: 95%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    justify-content: center;
    align-items: center;
}

.fa-search {
    color: grey;
}

.search input {
    width: 90%;
    height: 80%;
    padding: 8px 20px;
}

/* Chat List */
.chat-list {
    height: calc(100% - 200px);
    background-color: white;
}

/* /Left */
/* Right */

.chat {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
}

.bottom-right {
    height: 70px;
    background-color: #F3EEEA;
}

/* /Right */

/* Responsive */

@media screen and (max-width: 1200px) {

    .container {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 992px) {

    .left-side {
        width: 10%;
    }

    .banner,
    .search {
        display: none;
    }

    .chat-container {
        height: calc(100% - 70px);
    }

    .right-side {
        width: 90%;
    }

}

@media screen and (max-width: 768px) {

    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

}

/* /Responsive */